
{% extends 'etudiant/base.html' %}
{% load static %}
{% block content %}
<h1>Liste des Etudiants</h1>
<button onclick="saluer()">afficher ce message</button> 
<script src="{% static 'etudiant/js/scripts.js' %}"></script>
  <Div>
    <a style="padding: 800px;" href="{% url 'ajouter_un_etudiant' %}">Nouveau_Etudiant</a>
  </Div>
 
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">PRENOM</th>
      <th scope="col">Email</th>

    </tr>
  </thead>
  <tbody>
    {% for Etudiant in etud %}
    <tr>
      <th scope="row">{{Etudiant.id}}</th>
      <td>{{ Etudiant.nom }}</td>
      <td>{{ Etudiant.prenom }}</td>
      <td> {{Etudiant.email}} </td>
     
      <td><a href="{% url 'modifier_Etudiant' Etudiant.id %}">modifier</a></td>
       <td><a href="{% url 'supriudiant' Etudiant.id %}">supp</a></td>
       
    </tr>
{% empty %}
<H1>PAS D ELEVE ENCORE</H1>
{% endfor %}
    
  </tbody>
</table>
    
{% endblock content %}