{% extends 'etudiant/base.html' %}
{% load static %}
{% block content %}
<h1>Liste des Etudiants</h1>
 
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">PRENOM</th>
      <th scope="col">Email</th>
       <th scope="col">Telephone</th>
       <th scope="col">Formation</th>
       <th scope="col">Type de Bourse</th>
       <th scope="col">Date de Naissance</th>
       <th scope="col"> SEXE</th>

    </tr>
  </thead>
  <tbody>
    {% for Etudiant in etud %}
    <tr>
      <th scope="row">{{Etudiant.id}}</th>
      <td>{{ Etudiant.nom }}</td>
      <td>{{ Etudiant.prenom }}</td>
      <td> {{Etudiant.email}} </td>
      <td> {{Etudiant.telephone}} </td>
       <td> {{Etudiant.domFormation}} </td>
       <td> {{Etudiant.type}} </td>
        <td> {{Etudiant.dateNaissance}} </td>
         <td> {{Etudiant.sexe}} </td>
         
     
   
       
    </tr>
{% empty %}
<H1>PAS D ELEVE ENCORE</H1>
{% endfor %}
    
  </tbody>
</table>
    
{% endblock content %}