{% extends 'etudiant/base.html' %}
{% block content %}

            <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom Etage</th>
      <th scope="col">Numero auberge</th>
      <th scope="col">Type Chambre</th>
        
    </tr>
  </thead>
  <tbody>
    {% for Etage in etag %}
    <tr>
      <th scope="row">{{Etage.id}}</th>
      <td>{{Etage.nomEtage}}</td>
      <td>{{Etage.numAuberge}}</td>
       <td><a  href="{% url 'list_type_chambre' %}">type de chambre</a>
    </td>
      
      
      
      
       
    </tr>
{% empty %}
<H1>PAS D ELEVE ENCORE</H1>
{% endfor %}
    
  </tbody>
</table>



{% endblock content %}